@import url('https://fonts.googleapis.com/css2? família=Montserrat:wght@400;900&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: var(--bg-color-body) url('../imagens/Fundo.png') no-repeat top center;
  background-size: 100% auto;
  color: #fff;
}

.header {
  display: flex;
  padding: 20px 10px 30px 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.header .header-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header .header-menu .identificacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.header .header-menu .identificacao .atuacao {
  color: rgba(243, 235, 235, 0.836);
  font-weight: 400;
  margin-bottom: 15px;
}

.header .header-menu .identificacao .logo {
  display: flex;
  background-image: linear-gradient(var(--color-gradient));
  border-radius: 50%;
  margin-right: 7px;
  transition: transform 0.3s;
}

.header .header-menu .identificacao .logo:hover {
  transform: scale(1.1);
}

.header .header-menu .identificacao .logo img {
  border-radius: 50%;
  padding: 4px;
  width: 120px;
  height: 120px;
  transition: transform 0.3s;
}

.header .header-menu .identificacao .redes{
  display: flex;
  gap: 20px;
}

.header .header-menu .identificacao .redes li{
  display: flex;
  align-items: center;
  text-align: center;
}

.header .header-menu .identificacao .redes li a {
  display: flex;
  align-items: center;
  font-weight: 900;
  background-color: var(--bg-color-sections);
  padding: 10px 20px;
  border-radius: 10px;
  width: 150px;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}

.header .header-menu .identificacao .redes li a:hover {
  transform: scale(1.1);
  background-image: linear-gradient(var(--color-gradient));
}

.header .header-menu .identificacao .redes li a i {
  margin-right: 10px;
  color: rgb(62, 13, 109);
  font-size: 30px;
  border-radius: 50%;
}
/* CONFIGURAÇÕES GERAIS DAS SECTIONS */

.container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
}

.container section {
  background-image: linear-gradient(var(--color-gradient));
  border-radius: 10px 10px 20px 20px;
  padding-top: 10px;
}

.container section div {
  background-color: var(--bg-color-sections);
  padding: 20px 20px;
  border-radius: 10px;
}

.container section div h2,p {
  margin-bottom: 20px;
}

.container section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container section ul li a img {
  border-radius: 10px;
  border: 2px solid blueviolet;
  transition: transform 0.3s;
}

.container section ul li a img:hover {
  transform: scale(1.1);
}

/* CONFIGURAÇÕES ESPECÍFICAS DAS SECTIONS */

.about div .about-me {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 0 10px;
}

.about div .about-me .texto, .about div .about-me img {
  width: 50%;
  padding: 0;
}

.about div .about-me .texto p {
  text-align: justify;
  line-height: 30px;
  margin-bottom: 3px;
}

.about div .about-me img {
  border-radius: 10px;
  border: 2px solid blueviolet;
}

.skills div .list-skills li {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  gap: 10px;
  width: 200px;
}

.skills div .list-skills li .html {
  color: coral;
}

.skills div .list-skills li .css {
  color: blue;
}

.skills div .list-skills li .js {
  color: yellow;
}

.skills div .list-skills li .react {
  color: aqua;
}

.skills div .list-skills li a img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: none;
  box-shadow: -2px -1px 1px 1px gray;
}
.skills div .list-skills li a img:hover {
  box-shadow: 0 0;
}

.skills div .list-skills li a img.html:hover {
  border: 5px solid coral;
}

.skills div .list-skills li a img.css:hover {
  border: 5px solid blue;
}

.skills div .list-skills li a img.js:hover {
  border: 5px solid yellow;
}

.skills div .list-skills li a img.react:hover {
  border: 5px solid aqua;
}

.projects div .list-projects li {
  display: flex;
  flex-direction: column;
}

.projects div .list-projects li .info-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  position: relative;
  padding: 0;
  transition: 0.3s ease-in-out;
}

.projects div .list-projects li .info-project .project {
  width: 180px;
  height: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid blueviolet;
  margin-bottom: 10px;
}

.projects div .list-projects li .info-project:hover .project{
  opacity: 0.1;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.projects div .list-projects li .info-project .descricao {
  width: 95%;
  text-align: justify;
  margin-bottom: 3px;
  position: absolute;
  display: none;
}

.projects div .list-projects li .info-project:hover .descricao {
  display: block;
}

.projects div .list-projects li .link-projeto {
  color: #fff;
  margin-bottom: 3px;
  transition: 0.3s ease-in-out;
}

.projects div .list-projects li .link-projeto:hover {
  color: blueviolet;
}

.projects div .list-projects li .link-projeto i {
  font-size: 14px;
  padding-right: 5px;
}

.projects div .list-projects li .projeto-pokemon {
  background-image: url('../imagens/projeto-pokemon.gif');
}

.projects div .list-projects li .projeto-redes-sociais {
  background-image: url('../imagens/projeto-redes-sociais.gif');
}

.projects div .list-projects li .projeto-nlw-esports {
  background-image: url('../imagens/projeto-nlw-esports.gif');
}

.projects div .list-projects li .projeto-mini-portifolio {
  background-image: url('../imagens/projeto-mini-portifolio.gif');
}

.projects div .list-projects li .projeto-landing-page {
  background-image: url('../imagens/projeto-landing-page.gif');
}

.projects div .list-projects li .projeto-beDev-bemol {
  background-image: url('../imagens/projeto-beDev-bemol.gif');
}

.footer {
  text-align: center;
}

.footer .lista-de-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 0;
}

.footer .lista-de-redes li{
  margin: 0 20px;
  font-size: 30px;
}

.footer .lista-de-redes li a {
  color: #fff;
}

.footer .lista-de-redes li a:hover {
  padding: 1px 3px;
  background-image: linear-gradient(var(--color-gradient));
}

.footer p {
  font-size: 10px;
}

